.searchInputContent { 
    background-color: white;
    border-radius: 20px;
    padding: 9px 15px;
    display: flex;
    margin: 6px 8px 0px 8px;
}

.searchInputContent > input {  
    border: none;
    margin-left: 10px;
    margin-top: -4px;
    outline: none;
    width: 100%;
}